@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.submit-button {
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.submit-button:disabled {
  background-color: #666;
  color: #fff;
  cursor: not-allowed;
}

.submit-button.processing {
  background-color: #666;
  color: #fff;
  cursor: not-allowed;
}

.submit-button.success {
  color: #fff;
}
